.homepage-hero {
  padding-top: 2rem;
  padding-bottom: 2rem;

  h1 {
    font-size: 3.2rem;
    line-height: 1.1;
  }

  .homepage-hero-image {
    max-width: 105%;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
  }

  @media (max-width: 992px) {
    h1 {
      font-size: 2.5rem;
    }

    .homepage-hero-image {
      margin-top: 2rem;
      max-width: 100%;
    }
  }
}
