<div class="marker-badge badge rounded-pill bg-gradient-primary shadow-sm d-flex align-items-center gap-2 px-3 py-2 fs-6">
  <i class="fa-solid fa-music"></i>
  <%= instrument.instrument_type %>
</div>
